@model object[]
@{
    ViewBag.Title = "commands";
}
@{
    string deviceId = (string)Model.GetValue(0);
    int timeout = (int)Model.GetValue(1);
}
<div class="container">
    <input type="hidden" id="deviceId" value=@deviceId />
    <input type="hidden" id="timeout" value=@timeout />
    <ul id="discussion"></ul>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function() {
            var chat = $.connection.longPolling;
            var timerId = setTimeout(func, $('#timeout').val());
            chat.client.addNewMessageToPage = function (message) {
                    $('#discussion').append(htmlEncode(message));
                    clearTimeout(timerId);
                    $.connection.hub.stop();
            };
            $.connection.hub.start().done(function () {
                chat.server.setId($('#deviceId').val());
                chat.server.send($('#deviceId').val());
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        function func() {
            $('#discussion').append(htmlEncode("timeout"));
            $.connection.hub.stop();
        }
    </script>
}