@using WebService.Service
@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<textarea rows="20" cols="120" readonly="True">
    @Logs.ReturnLogs()
</textarea>

        <form action="/">
            <button type="submit">Вернуться на главную</button>
        </form>
